sharepoint-to-blob-lg/logicapp-workflows/orchestrator-workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "type": "Foreach",
                "foreach": "@parameters('sharepoint_category_folders')",
                "actions": {
                    "REMOVE_STALE_BLOBS": {
                        "type": "Workflow",
                        "inputs": {
                            "host": {
                                "workflow": {
                                    "id": "sharepoint-removal"
                                }
                            },
                            "body": {
                                "rootSiteFolder": "@replace(parameters('sharepoint_site_address'),'https://','')",
                                "documentFolder": "/@{body('Parse_JSON')?['folder']}",
                                "category": "@body('Parse_JSON')?['category']"
                            }
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "INGEST_NEW_or_UPDATED_SHAREPOINT_FILES": {
                        "type": "Workflow",
                        "inputs": {
                            "host": {
                                "workflow": {
                                    "id": "sharepoint-ingest"
                                }
                            },
                            "body": {
                                "folder": "@body('Parse_JSON')?['folder']",
                                "category": "@body('Parse_JSON')?['category']"
                            }
                        },
                        "runAfter": {
                            "REMOVE_STALE_BLOBS": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@items('For_each')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "folder": {
                                        "type": "string"
                                    },
                                    "category": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http"
            }
        }
    },
    "kind": "Stateful"
}